.App {
  width: 100%;
  background-color: rgb(164, 164, 164);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-header {
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
  padding: 26px;
}

.movie-search {
  margin-bottom: 25px;
  width: 500px;
  padding: 8px;
  border: none;
  border-radius: 10px;
}

.wrapper {
  border-radius: 12px;
  color: white;
  text-align: center;
  background-color: rgb(93, 93, 93);
  padding: 12px;
}

.movie-image {
  border-radius: 12px;
}

.movie-title {
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
}

.movie-date {
  margin-top: 8px;
}
